html {
  height: 1500px;
  }
body {
background: linear-gradient(to bottom right, #FC9817, #FFFFFF);
}
h1 {
  font-size: 1.6em;
  color: #EEE;
  background-color: #FC9817;
  width: 40vw;
  height: 4vh;
  box-shadow: 5px 5px 0px #3594E8;
  margin-bottom: 5vh;
}
main {
  width: 100vw;
}

main>div:nth-child(odd){
  text-align: left;
  width: 50vw
}

main>div:nth-child(even){
  text-align: right;
}

div {
  margin: 10px 5px;
  background-color: #8CBBE5;
  padding: 20px;
  border-radius: 50px;

}
