html {
  height: 3500px;
  font-family: sans-serif;
  }
body {
background: linear-gradient(to top, #EC9817, #FDCB68);
}
h1 {
  font-size: 1.6em;
  color: #EEE;
  background-color: #FC9817;
  width: 40vw;
  height: 4vh;
  box-shadow: 5px 5px 0px #3594E8;
  margin: 0 50vw 5vh 50vw;
  text-align:center;
}
main {
  width: 100vw;
}
main>div{
  margin: 10vh 2vw 0 50vw;
  background-color: #8CBBE5;
  color: #EEE;
  padding: 20px;
  border-radius: 50px;
  font-size: 1.2em;

}
main>h2 {
  position: sticky;
  top: -1px;
  background-color: #FC9817;
  font-size: 1.8em;
  color: #EEE;
  width: 10vw;
  text-transform: uppercase;
  margin-left: 5vw;
  padding: 30px 50px 30px 50px;
  text-align: center
}

.wow {
  width: 50vw;
  background-color: #EEE;
  margin: 50px 0 0 200px;
}
.mow {
  width: 50vw;
  background-color: #EEE;
  margin: 50px 0 0 800px;
}
